<form class="form-group" [formGroup]="form">
  <div class="row">
    <div class="col-md-4">
      <input class="form-control" type="text" placeholder="Składnik" formControlName="ingredients" />
    </div>
    <div class="col-md-3">
      <input class="form-control" type="text" placeholder="Ilość" formControlName="number" />
    </div>
    <div class="col-md-3">
      <select class="form-control" formControlName="type">
        <option value="szt">szt</option>
        <option value="szklanka">szklanka</option>
        <option value="łyżka">łyżka</option>
        <option value="łyżeczka">łyżeczka</option>
        <option value="kg">kg</option>
        <option value="dag">dag</option>
        <option value="g">g</option>
        <option value="l">l</option>
        <option value="ml">ml</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="addElementIngredients()">Dodaj</button>
    </div>
  </div>
</form>
