.card{
  
  background-image: url("https://cdn.discordapp.com/attachments/901900441237999666/1118457853527724132/luke-chesser-pJadQetzTkI-unsplash.jpg");
  background-size: cover;
  background-repeat: repeat;

}
