<div class="background">
<div class="card" style="width: 80rem;margin:3%">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{image}}" alt="img" class="img-fluid">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <h6 class="card-body">{{description}}</h6>
        <h5>Składniki:</h5>
        <cakebook-item-ingredients [ingredients]="ingredients$"></cakebook-item-ingredients>
        <br>
        <h5>Sposób przygotowania:</h5>
        <cakebook-item-steps [steps]="steps$"></cakebook-item-steps>
        <button class="btn btn-danger" style="position: absolute; top: 10px; right: 10px;" (click)="deletePost()" routerLink="/">Usuń</button>
      </div>
    </div>
  </div>
</div>
</div>
